__pycache__/
*.py[cod]
.DS_Store
.venv/
.env

.cursor

artifacts/**
!artifacts/
!artifacts/**/.gitkeep

data/processed/**
!data/processed/
!data/processed/.gitkeep

data/holdouts/**
!data/holdouts/
!data/holdouts/.gitkeep
